<!DOCTYPE html>

<html>

<head>
<meta charset=utf-8 />
<title>DAKARmob orig</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!-- fancy -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Foundation & FontAwesome -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.css">
 <script src="http://d3js.org/d3.v3.min.js"></script>
 <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script> -->
<script type="text/javascript">
// // random background pattern
// $(function(){

//   // See more options here: https://github.com/qrohlf/trianglify#options
//   var ops = {
//     noiseIntensity: 0,
//   };
//   var t = new Trianglify(ops);
//   var pattern = t.generate(document.body.clientWidth, document.body.clientHeight*2);
//   document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);
// });
</script>
<!-- end fancy -->


<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
{% load staticfiles %}
<script type="text/javascript" src="{% static "scripts/main.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/heat.js" %}"></script>
<link href="{% static "style/style.css" %}" rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>

</head>
<body>


<div id='map'></div>
<div id='map2'></div>

<script>
// Declara mapa
L.mapbox.accessToken = 'pk.eyJ1IjoidmFuY2hyaXN0b3BoZXIiLCJhIjoiZUQ3a0lQcyJ9.JWzEky14GBue9Hx1kD_Srg';
var map = L.mapbox.map('map', 'vanchristopher.lf9nlf0k', {maxZoom: 16}).setView([14.715, -17.33], 13);
var map2 = L.mapbox.map('map2', 'vanchristopher.lf9nlf0k', {maxZoom: 16}).setView([14.745, -17.37], 13);
//var heat = L.heatLayer({{ points }},{maxZoom: 21,minOpacity: .5,radius: 24}).addTo(map);
var heat = L.heatLayer({{ orig }},{maxZoom: 21,minOpacity: .5,radius: 24}).addTo(map);
// var heat2 = L.heatLayer({{ dest }},{maxZoom: 21,minOpacity: .5,radius: 24, gradient: { 0.4: 'blue', 0.65: 'red', 1: 'white'}}).addTo(map2);
var heat2 = L.heatLayer({{ dest }},{maxZoom: 21,minOpacity: .5,radius: 24}).addTo(map2);
</script>


</body>
</html>
