  body { margin:0; padding:0; }
  /*#map { position:absolute; top:50px; bottom:0; width:100vw; height: 90%; }*/
  #map{ height: 100%; width: auto;}
  #map2 { position:absolute; top:50px; left: 51vw; bottom:0; width:49vw; height: 90%; }

  .menu-ui {
  background:#fff;
  position:absolute;
  top:60px;right:60px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active,
    .menu-ui a.active:hover {
      background:#3887BE;
      color:#FFF;
      }

.or{
  position: absolute;
  top: 20px;
  left: 50px;
}

.de {
  position: absolute;
  top: 20px;
  left: 51vw;
}