<!DOCTYPE html>

<html>

<head>
<meta charset=utf-8 />
<title>DAKARmob</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!-- fancy -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Foundation & FontAwesome -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.css">
 <script src="http://d3js.org/d3.v3.min.js"></script>
 <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>
<script type="text/javascript">
// random background pattern
$(function(){

  // See more options here: https://github.com/qrohlf/trianglify#options
  var ops = {
    noiseIntensity: 0,
  };
  var t = new Trianglify(ops);
  var pattern = t.generate(document.body.clientWidth, document.body.clientHeight*2);
  document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);
});
</script>
<!-- end fancy -->


<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
{% load staticfiles %}
<script type="text/javascript" src="{% static "scripts/main.js" %}"></script>
<link href="{% static "style/style.css" %}" rel='stylesheet' />
<script src="{% static "scripts/L.LineUtil.PolylineDecorator.js" %}"></script>
<script src="{% static "scripts/L.RotatedMarker.js" %}"></script>
<script src="{% static "scripts/L.Symbol.js" %}"></script>
<script src="{% static "scripts/L.PolylineDecorator.js" %}"></script>
<script src="{% static "scripts/leaflet.polylineoffset.js" %}"></script>


</head>
<body>

<p>MAPA</p>

<nav id='menu-ui' class='menu-ui'>
  <a id="all" href="#">destinos</a>
  <a id="antenas" href="#">antenas</a>
  <a id="dia" href="#">dia</a>
  <a id="noche" href="#">noche</a>
</nav>
<!-- <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script> -->
<div id='map'></div>

<script>
// Declara mapa
L.mapbox.accessToken = 'pk.eyJ1IjoidmFuY2hyaXN0b3BoZXIiLCJhIjoiZUQ3a0lQcyJ9.JWzEky14GBue9Hx1kD_Srg';
var map = L.mapbox.map('map', 'vanchristopher.lf9nlf0k')
    .setView([14.745, -17.37], 13);



///GLOBAL VAR
var antenas = {};
var polylines={}; // siteid perteneciente a la linea
var markers_single={};
var markers_aux = {};
var arr_polylines = [];
var arr_layer = [];
var start = [];
var markers;
var polylineslist;
var markerst ;
//Antenas //////////////

var cluster_ant = new L.MarkerClusterGroup({polygonOptions: { color: '#ff0a0a'}});
{% for pos in antposition %}
var marker = L.marker([{{pos.1}}, {{pos.2}}], {
  icon: L.mapbox.marker.icon({
      'marker-color': '#b9e841'
  }),
  draggable: false
}).bindLabel(String({{pos.0}}), { noHide: true }).on('click', onAnte);
antenas[{{pos.0}}] = [{{pos.1}}, {{pos.2}}];
cluster_ant.addLayer(marker);
{% endfor %}
map.addLayer(cluster_ant);

function onAnte(e) {
  var latl = this.getLatLng();
  var aux = [latl.lat,latl.lng];
  start = aux;
  var result = getKeysForValue(antenas, aux);
  new_point(myCallback,result[0]);
  // antenas[result[0]]
}
 function myCallback(result) {
        // {% for dest in result %}
        // console.log(dest[0],{{dest.1}},{{dest.2}},{{dest.3}})
        // {% endfor %}
        // result.destinations.forEach(function(entry) {
        //     console.log(entry[0]);
        // })
        // console.log(result.destinations)
        main(result.destinations);
}

function myscCallback(result,org,dest){
  console.log(result.ndstval);
  var colr = colors(result.ndstval);
  var aux_polyline = L.polyline([
        org,
        dest,
        ], {color: colr, offset: 10}).bindLabel(String(result.ndstval)).addTo(map);
  arr_layer[0].addLayer(aux_polyline);
} 
///EMPIZA FUNCION main
// LINEAS Y MARCADORES DE DESTINOS ///////
///FUNCIONES GLOBALES


function main(destinations) {
  if (map.hasLayer(cluster_ant)) {
     map.removeLayer(cluster_ant);
  }
  // console.log(start);
  markerst = L.marker(start, {
    icon: L.mapbox.marker.icon({
        'marker-color': 'ff8888'
    }),
    draggable: false
  });
  markerst.addTo(map);

  // var start = [14.753731, -17.471946 ];
  markers = new L.MarkerClusterGroup({polygonOptions: { color: '#ff0a0a'}});
  destinations.forEach(function(dest) {
      var marker = L.marker([dest[0], dest[1]], {
      icon: L.mapbox.marker.icon({
          'marker-color': '#b9e841'
      }),
      draggable: false
      }).on('click', onClick);
      markers_single[dest[2]] = marker;
      markers_aux[dest[2]] = [dest[0], dest[1]];
      // var strs = String({{dest.3}}) ;
      // console.log(typeof strs)
      var colr = colors(dest[3]);
      var polyline = L.polyline([
        start,
        [dest[0], dest[1]],
        ], {color: colr}).bindLabel(String(dest[3]));

      polylines[dest[2]] = polyline;
      arr_polylines.push(polyline);
      markers.addLayer(marker);
  });
  map.addLayer(markers);
  polylineslist = L.layerGroup(arr_polylines);
  map.addLayer(polylineslist);
}

var comp ;
function onClick(e) {
  var latl = this.getLatLng();
  var aux = [latl.lat,latl.lng];
  var result = getKeysForValue(markers_aux, aux);
  if (result[0] != comp) {
    comp = result[0];
    // var result = getKeysForValue(markers_aux, aux);
    getdest(start,aux);
    var selected_markers = L.layerGroup([markers_single[result[0]]]);
    var decorator = L.polylineDecorator(polylines[result[0]], {
          patterns: [
              {offset: 25, repeat: 200, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {stroke: true}})}
          ]
      });
    // var selected_polyline = L.layerGroup([polylines[result[0]]]);
    selected_polyline = L.layerGroup([polylines[result[0]], decorator]);
    arr_layer = [selected_markers,selected_polyline];
      // getKeysForValue(markers,this.ge)
    if(map.hasLayer(markers)){
      map.removeLayer(markers);
      map.removeLayer(polylineslist);
      map.addLayer(selected_markers);
      map.addLayer(selected_polyline);
    }
  }else{
        comp = 0;
        map.removeLayer(arr_layer[0]);
        map.removeLayer(arr_layer[1]);
        map.addLayer(markers);
        map.addLayer(polylineslist);
  } 
}

function getKeysForValue(obj, value) {
  var all = [];
  for (var name in obj) {
    if (compare(obj[name], value)) {
      // console.log('entro');
      all.push(name);
    }
  }
  // console.log(all);
  return all;
}

function getdest(mar1, mar2) {
  // mar2 new origen
  // mar1 new dest
  orige = getKeysForValue(antenas, mar2);
  dest = getKeysForValue(antenas, mar1);
  // console.log(orige,dest);
  new_dest(myscCallback,orige[0],dest[0],mar2, mar1);
}

function compare(array1, array2){
  var is_same = (array1.length == array2.length) && array1.every(function(element, index) {
    return element === array2[index]; 
  });
  return is_same;
}

$("#all").click(function(event) {
    event.preventDefault();
    if(map.hasLayer(arr_layer[0]) && map.hasLayer(arr_layer[1])) {
        map.removeLayer(arr_layer[0]);
        map.removeLayer(arr_layer[1]);
        map.addLayer(markers);
        map.addLayer(polylineslist);
    } 
});
$("#antenas").click(function(event) {
    event.preventDefault();
    if(map.hasLayer(markers) && map.hasLayer(polylineslist)) {
      // console.log('antenas entro')
        map.removeLayer(polylineslist);
        map.removeLayer(markers);
        map.removeLayer(markerst);
        map.addLayer(cluster_ant);
        arr_polylines = [];
    } 
});

function colors (num) {
  var color = '#';
  if (num <= 1) { 
    color = color.concat('0D91F2');
  } else if (num > 1 && num <= 5 ){
    color = color.concat('804C80');
  } else if (num > 5 && num <= 10){
    color = color.concat('B22E4C');
  } else if(num > 10){
    color = color.concat('FF0000');
  }
  return color;
}

</script>

<div style="position:absolute; top:900px; left:10px; ">
{{ destinations }}
  <!-- <form method="POST" id="post-form" >{% csrf_token %}
  {{ form.dayset }}
  <input type="submit" value="Post" class="tiny button" />
  </form> -->
</div>
<!-- {% load staticfiles %}
<script src="{% static "scripts/main.js" %}"></script> -->

</body>
</html>